  /* input[type="file"] {
  display: none;
}  */

aaa {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background: #6666;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  padding: 20px 10px;
  width: 200px;
  text-align: center;
  

}
.sendNft {
  color: red;
}